.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 3.7px 3.3px rgba(0, 0, 0, 0.048), 0 6.5px 5px rgba(0, 0, 0, 0.06),
    0 12.3px 10.9px rgba(0, 0, 0, 0.072), 0 11.8px 9.4px rgba(0, 0, 0, 0.086),
    0 10px 30px rgba(0, 0, 0, 0.12);

  .container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    .input {
      flex-grow: 1;
      outline: none;
      border: none;
      padding: 0.7rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .btn {
      border-radius: 0 0.5rem 0.5rem 0;
      letter-spacing: 1px;
    }
  }
}
