.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  .chat-header {
  }

  .messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;

    .message-box {
      max-width: 70%;
      background-color: #f2eaec;
      padding: 1rem;
      border-radius: 0.5rem;
      margin: 0.5rem;

      &.my-message {
        background-color: #0ce5e1;
        margin-left: auto;
      }

      .author {
        display: flex;
        justify-content: space-between;
        color: #555;
      }
    }
  }

  .input-container {
    width: 100%;
  }
}
