.chat {
  // background-color: grayscale($color: #cf4343);

  display: flex;
  flex-direction: column;
  align-items: center;

  .chat-header {
    // background-color: rgb(102, 102, 230);
  }

  .messages {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;

    .message-box {
      background-color: #ddd;
      padding: 1rem;
      border-radius: 0.5rem;

      .author {
        display: flex;
        justify-content: space-between;
        color: #555;
      }
    }
  }

  .chat-box {
    // background-color: rgb(123, 230, 102);

    .input-container {
      width: 100%;
      // background-color: blue;
      // display: flex;
      // justify-content: flex-end;
    }
  }
}
