.room-list {
  margin-bottom: 2rem;
  ul {
    list-style-type: "#";
    padding: 0;
    margin: 0;

    .room {
      cursor: pointer;

      &.current-room {
        font-weight: bold;
      }
    }
  }
}
