.room-list {
  margin-bottom: 2rem;
  ul {
    list-style-type: "#";
    padding-left: 1rem;
    margin: 0;

    .room {
      margin: 0.5rem 0;
      cursor: pointer;

      &.current-room {
        font-weight: bold;
      }

      .room-name {
        margin-right: auto;
      }

      .lock {
        float: right;
        width: 1rem;
      }
    }
  }
}
