.start-page {
  margin: 0;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Comfortaa";

  .log-in {
    border: 5px solid yellow;
    background-color: black;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 4rem;
      color: yellow;
      font-family: "Comfortaa";
    }
    h5 {
      font-size: 1rem;
    }
    input {
      position: "relative";
      color: white;
      font-size: 1rem;
      background-color: rgb(0, 0, 0);
      border: 3px solid yellow;
      padding: 0.5rem;
      display: inline-block;
      border-radius: 10em;
    }
    button {
      margin-top: 1rem;
      color: black;
      font-size: 1rem;
      background-color: yellow;
      border: 3px solid yellow;
      padding: 0.5rem;
      border-radius: 10em;
    }
  }
}
