.chat-page {
  margin: 0;
  background: white;
  color: black;
  display: flex;
  justify-content: flex-start;

  height: 100vh;

  .rooms {
    background-color: rgb(221, 221, 136);
    width: 30vw;
  }

  .chat {
    background-color: grayscale($color: #cf4343);
    width: 70vw;
    display: flex;
    flex-direction: column;

    .chat-header {
      background-color: rgb(102, 102, 230);
      h1 {
        margin-top: 0;
      }
    }

    .chat-box {
      background-color: rgb(123, 230, 102);

      .input-container {
        background-color: blue;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
