.chat-page {
  margin: 0;
  background: white;
  color: black;
  display: flex;
  justify-content: center;

  height: 100vh;

  .rooms {
    background-color: rgb(221, 221, 136);
  }
  .chat {
    background-color: rgb(102, 102, 230);
  }
}
